body{background-color:Aqua;
font-size:"15px";
font-family:"Sans serif"};
h1{text-align:center;};
h2{text-align:center;};
h3{text-align:center;};
h4{text-align:center;};
h5{text-align:center;};
img{width="220px";
leight="200px"};

